.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size:25pt;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://secure.static.tumblr.com/0fb852941914858166ce995419aa0595/p1bqqks/iRRmvlnrf/tumblr_static_handsbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    
}s
.genres{
	background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    stroke: none;
}