.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://secure.static.tumblr.com/0fb852941914858166ce995419aa0595/p1bqqks/iRRmvlnrf/tumblr_static_handsbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    
}
.pop{
	background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.rap{
	background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.rock{
	background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.genres{
	text-align:center;
	padding:15px;
}
.headline{
	text-align:center;
	font-family:'Quicksand',sans-serif;
}

.popheader{
    background-color:#33ccff;
    color:white;

}
#pop{
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 2em;

}
.text{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:15pt;
}
.rapheader{
    background-color:lavender;
    color:white;
}
#rap{
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 2em;
}
.rockheader{
    background-color:lightpink;
    color:white;
}
#rock{
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 2em;
}