.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size:20pt;
}
.logo {
    display: block;
    margin: 0 auto;
    margin-top: 15em;
}
.learn{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    stroke: none;
}
.inspire{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family: 'Montserrat', sans-serif;
    stroke:none;
}

.learn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

  .learn:hover span {
  padding-right: 25px;
}

.learn:hover span:after {
  opacity: 1;
  right: 0;
}
.inspire span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.inspire span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

  .inspire:hover span {
  padding-right: 25px;
}

.inspire:hover span:after {
  opacity: 1;
  right: 0;
}
.buttons{
	text-align:center;
	margin-top: 2em;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://66.media.tumblr.com/tumblr_m6dc0540KA1rw3fqbo1_1280.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.metronome{
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.tuner{
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.how{
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.mapButton{
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 25px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family:'Quicksand', sans-serif;
    position: relative;
    stroke: none;
    font-weight: bold;
}
.learnins{
  text-align:center;
  padding:15px;
}
.headline{
  text-align:center;
  font-family:'Quicksand',sans-serif;
}
#map{
        width:1200px;
        height:600px;
        margin-top: 15px;
      }
.text{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:15pt;
    margin-left:4em;
    margin-top: 2em;
}
.metronometitle{
  padding-top: 2em;
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
}
.tunertitle{
  padding-top: 2em;
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
}
.howtitle{
  padding-top: 2em;
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
}
.maptitle{
  padding-top: 2em;
  font-family:'Quicksand', sans-serif;
  font-weight: bold;
}