.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size:25pt;
}
.logo {
    display: block;
    margin: 0 auto;
    margin-top: 15em;
}
.learn{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 35px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    stroke: none;
}
.inspire{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    transition: all .5s;
    cursor:pointer;
    margin:5px;
    font-family: 'Montserrat', sans-serif;
    stroke:none;
}

.learn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.learn:hover span {
  padding-right: 25px;
}

.learn:hover span:after {
  opacity: 1;
  right: 0;
}
.inspire span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.inspire span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.inspire:hover span {
  padding-right: 25px;
}

.inspire:hover span:after {
  opacity: 1;
  right: 0;
}
.buttons{
	text-align:center;
	margin-top: 2em;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://66.media.tumblr.com/tumblr_m6dc0540KA1rw3fqbo1_1280.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

