<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Montserrat|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href ="../css/style.css">
  <!--METRONOME STUFF-->
   <link rel="stylesheet" href="../css/main.css">
   <script src="../js/metronome.js"></script>
   <script src="../js/metronomeworker.js"></script>
   <script src="../js/learnMap.js"></script>
  <title>Musicology</title>
  </head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">MUSICOLOGY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="Learn"><a href="/learn">Learn <span class="sr-only">(current)</span></a></li>
        <li><a href="/inspire">Inspire</a></li>

      </ul>

    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mission <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </nav><!-- /.navbar-collapse -->
  <!--adding the header-->
    <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 class="headline">LEARN.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
        <br>
<div class = "learnins">
      <button type = "button" class = "metronome"><span>METRONOME</span></button>
      <button  class = "tuner" type="button"><span>TUNER</span></button>
      <button  class = "how" type="button"><span>HOW-TO'S</span></button>
      <button class="mapButton" type="button"><span>NEARBY</span></button>
    </div>
    <br>

<div class="learnlowerheaders">
  <h1 class="metronometitle">METRONOME</h1>
  <p class="text">Use this metronome to keep track of the correct tempo for your music.</p>

<!--METRONOME EMBEDDING START-->
      <center>
        <div id="controls">
          <div id="tempoBox">TEMPO: <span id="showTempo">100</span>BPM <input id="tempo" type="range" min="40.0" max="208.0" step="1" value="120" style="height: 20px; width: 200px" onInput="tempo = event.target.value; document.getElementById('showTempo').innerText=tempo;"></div>
          <div>RESOLUTION:<select onchange="noteResolution = this.selectedIndex;"><option>16th notes<option>8th notes<option>1/4th notes</select></div>
            <br>
          <div><a class="play" onclick="this.innerText = play();">PLAY</a></div>
        </div>
      </center>
      <div class="container">
        <canvas></canvas>
      </div>
<!--METRONOME EMBEDDING END-->


  <h1 class="learnlowerheaders">TUNER</h1>
  <p class="text">Use this tuner to have a good starting point for your practice session.</p>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="learnlowerheaders">HOW-TO'S</h1>
    <p class="text">Use these videos to supplement your dedication and daily application.</p>
    <br>
    <br>
    <br>
    <center>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/zz8AuolJwfI" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/CQTim0KdILE" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/5aSgA6P9UYo" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/g6ADxV3dj90" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/Ad4MpwnZFdY" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/ALHt7-yjTz8" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/KMQE8qO9SSo" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/zMtggA3E79Y" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/M1zSjMr8Wnk" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/88G0O5unNuQ" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/rZr5k1_9Dds" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/jBz2jmHkt1k" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/X5wA7DSspmc" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/6oqyQXbmC34" frameborder="0" allowfullscreen></iframe>
    <iframe width="250" height="150" src="https://www.youtube.com/embed/YUhVwJqial0" frameborder="0" allowfullscreen></iframe>
  </center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div>
      <h1>PLACES TO LEARN</h1>
      <p>Here are places to learn the music</p>
      <center><div id="map"></div></center>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script async defer src="http://maps.google.com/maps/api/js?key=AIzaSyBJGlhRhwC9jJj_EOfqilBjzGZVR0ZVz0Y&callback=initMap">
  </script>
</body>

<footer>
  <center>
    <div>Copyright 2016, Musicology. All Rights Reserved.</div>
  </center>
</footer>
</html>
