<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Montserrat|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href ="css/styleinspire.css">

  <title>Musicology</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MUSICOLOGY</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="Learn"><a href="learn">Learn <span class="sr-only">(current)</span></a></li>
        <li><a href="inspire.html">Inspire</a></li>

      </ul>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mission <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </nav><!-- /.navbar-collapse -->
  <!--adding the header-->
    <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h1 class="headline">INSPIRE.</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
   <div class = "genres">
      <button type = "button" class = "pop"><span>POP</span></button>
      <script type="text/javascript">

              $(".pop").click(function() {
                $('html,body').animate({
                scrollTop: $(".popheader").offset().top},
                'slow');
        });
      </script>
      <button  class = "rap" type="button"><span>RAP</span></button>
       <script type="text/javascript">

              $(".rap").click(function() {
                $('html,body').animate({
                scrollTop: $(".rapheader").offset().top},
                'slow');
        });
      </script>
      <button  class = "rock" type="button"><span>ROCK</span></button>
       <script type="text/javascript">

              $(".rock").click(function() {
                $('html,body').animate({
                scrollTop: $(".rockheader").offset().top},
                'slow');
        });
      </script>
    </div>
        <br>
        <br>
        <br>
        <br>
  <div class = "popheader">
    <div id="poptext">
      <h1 id="pop">POP</h1>
      <p class="text">  Pop music can vary and borrow from other genres; nonetheless, there are main factors that define pop music.<br> These songs are generally more basic and easy to follow with the common employment of repeated choruses, melodic tunes, and hooks.</p>
    </div>
    <div class = "spotify"><center>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:0ijttIJY7IL2Ez3zoMPxwC
&theme=white&view=coverart" width="250" height="500" frameborder="0" allowtransparency="true"></iframe>
</center>
    </div>
  </div>
        <br>
        <br>
        <br>
        <br>
  <div class = "rapheader">
    <div id="poptext">
        <h1 id="rap">RAP</h1>
        <p class="text">A music genre formed in the United States in the 1970s that consists of a stylized rhythmic music that commonly accompanies rapping,<br> a rhythmic and rhyming speech that is chanted. It developed as part of hip hop culture, a subculture defined by four key stylistic elements:<br> MCing/rapping, DJing/scratching, break dancing, and graffiti writing. Other elements include sampling (or synthesis), and beatboxing.</p>
    </div>
    <div class = "spotify"><center>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:6OzKk3EjMczg2gvrQT81OO
&theme=white&view=coverart" width="250" height="500" frameborder="0" allowtransparency="true"></iframe>
</center>
    </div>
  </div>
        <br>
        <br>
        <br>
        <br>
  <div class = "rockheader">
    <div id="poptext">
      <h1 id="rock">ROCK</h1>
      <p class="text">Musically, rock has centered on the electric guitar, usually as part of a rock group with electric bass guitar and drums.<br> Typically, rock is song-based music usually with a 4/4 time signature using a verse-chorus form, but the genre has become extremely diverse.<br> Like pop music, lyrics often stress romantic love but also address a wide variety of other themes that are frequently social or political in emphasis. </p>
    </div>
    <div class = "spotify"><center>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:6PObHFkv7TAGAv5dfxKMl0
&theme=white&view=coverart" width="250" height="500" frameborder="0" allowtransparency="true"></iframe>
</center>
    </div>
  </div>

  <div class="popartists">
    <ul>
      <li>Selena Gomez</li>
      <li>One Direction</li>
      <li>Katy Perry</li>
      <li>Nick Jonas</li>
    </ul>
  </div>
  <div class="rapartists">
    <ul>
      <li>Kanye West</li>
      <li>Kendrick Lamar</li>
      <li>Eminem</li>
      <li>Logic</li>
    </ul>
  </div>
  <div class="rockartists">
    <ul>
      <li>Red Hot Chilli Peppers</li>
      <li>U2</li>
      <li>Arctic Monkeys</li>
      <li>Muse</li>
    </ul>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
<footer>
  <center>
    <div>Copyright 2016, Musicology. All Rights Reserved.</div>
  </center>
</footer>
</html>
</html>
